{# Popover with Carousel -- Web #}

{# Gardening Direct brand colours #}
{% set gdBlue = "#002D72" %}
{% set gdBlueDark = "#001F4D" %}
{% set gdDark = "#2c3e50" %}
{% set gdBorder = "#e8ecf0" %}
{% set gdImageBg = "#f4f6f8" %}

{% if meta.preview == "true" %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://im.dycdn.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endif %}

{# ----- Social Proof Messaging Macro start ---- #}
{% macro socialProof(product) %}

{# social proof icon setup start #}
{% if fields.socialProofMessaging.iconImage %}
    {% set socialProofIcon = '<img src="' + fields.socialProofMessaging.iconImage + '" alt="Social Icon" style="height: auto;
            width: ' + fields.socialProofMessaging.iconWidth + 'px;" />' %}
{% else %}
    {% if fields.socialProofMessaging.iconShape != 'rt4q9wp' %}
        {% set socialProofIcon = '<span style="height: auto;
            width: ' + fields.socialProofMessaging.iconWidth + 'px; color: ' + fields.socialProofMessaging.iconColor + ';
            font-size: ' + fields.socialProofMessaging.iconWidth + 'px;">' +
            fields.socialProofMessaging.iconShape + '</span>' %}
    {% else %}
        {% set socialProofIcon = '<svg style="height: auto; padding: 0px !important; margin: 0px !important;
            width: ' + fields.socialProofMessaging.iconWidth + 'px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 164 211.6" style="enable-background:new 0 0 164 211.6;" xml:space="preserve">
                <path class="st0" fill="' + fields.socialProofMessaging.iconColor + '" d="M127.1,37.2c3.8,5.1,0.2,25.6-1,39.1C120.8,50.8,69.5,0,69.5,0c8.2,17.3-15,60.2-35.7,92.4  c-1.3-12-4.6-28.8-12.9-34.5c0,0-7.5,31.8-13.6,43.9c0,0-8,18.1-7.2,36c-0.1,0.2,0.6,5.4,1,7.1c6.6,36,39.7,55.8,57.3,66.7  c-0.7-2-2.6-4.9-4.9-8.2c-2-3-2.7-4-3.8-5.4c-1.2-1.8-2.5-3.6-3.6-5.4c-8.7-16-0.3-32.2,4.4-39.2c0.8-1,1.7-2.1,2.7-3.5  c0,0,0,0.1,0,0.1h0c4.4-7,10.4-17.1,11.1-29c0,0,13.2,21.1,6.8,31.5c0,0,18.8-30.3,14.4-60.3c0,0,44.1,34.7,38.6,85  c0,0-2.2,15.5-13.5,34.4C220.3,145.7,127.1,37.2,127.1,37.2z"/>
            </svg>' %}
    {% endif %}
{% endif %}
{# social proof icon setup end #}

{# social proof start #}
{% if fields.socialProofMessaging.active  %}
{% if format in ["dynamichtml", "dynamicimage", "thumb"] %}
    <tr>
        <td style='padding-bottom:5px; padding-top:5px; text-align: center;'>
{% endif %}
            {% set proof = product.social_proof %}
            {#  Write out the message for the relevant type of social proof #}
            {% if proof.purchased and (fields.purchasedData.active) and proof.purchased >= fields.purchasedData.minimumPurchased %}
                <div style='font-size: {{ fields.socialProofMessaging.fontSize.size }}{{ fields.socialProofMessaging.fontSize.unit }};
                    font-family:{{ fields.socialProofMessaging.font }};
                    padding: {{ fields.socialProofMessaging.padding.size }}{{ fields.socialProofMessaging.padding.unit }};
                    height: auto;
                    text-align: center;
                    background-color: {{ fields.purchasedData.colors.background }};
                    color: {{ fields.purchasedData.colors.foreground }};
                    {% if fields.purchasedData.bold %} font-weight:bold; {% endif %} {% if fields.purchasedData.italics %}font-style: italic; {% endif %}'>
                    {{ socialProofIcon }}
                    {% if fields.purchasedData.displayNumber %} {{ proof.purchased }} {% endif %} {{ fields.purchasedData.text }}
                </div>
            {% elif proof.carted and ( fields.cartedData.active) and proof.carted >= fields.cartedData.minimumCarted %}
                <div style='font-size: {{ fields.socialProofMessaging.fontSize.size }}{{ fields.socialProofMessaging.fontSize.unit }};
                    font-family:{{ fields.socialProofMessaging.font }};
                    padding: {{ fields.socialProofMessaging.padding.size }}{{ fields.socialProofMessaging.padding.unit }};
                    height: auto;
                    text-align: center;
                    background-color: {{ fields.cartedData.colors.background }};
                    color: {{ fields.cartedData.colors.foreground }};
                    {% if fields.cartedData.bold %} font-weight:bold; {% endif %} {% if fields.cartedData.italics %}font-style: italic; {% endif %}'>
                    {{ socialProofIcon }}
                    {% if fields.cartedData.displayNumber %} {{ proof.carted }} {% endif %} {{ fields.cartedData.text }}
                </div>
            {% elif proof.browsed and (fields.browsedData.active) and proof.browsed >= fields.browsedData.minimumBrowsed %}
                <div style='font-size: {{ fields.socialProofMessaging.fontSize.size }}{{ fields.socialProofMessaging.fontSize.unit }};
                    font-family:{{ fields.socialProofMessaging.font }};
                    padding: {{ fields.socialProofMessaging.padding.size }}{{ fields.socialProofMessaging.padding.unit }};
                    height: auto;
                    text-align: center;
                    background-color: {{ fields.browsedData.colors.background }};
                    color: {{ fields.browsedData.colors.foreground }};
                    {% if fields.browsedData.bold %} font-weight:bold; {% endif %} {% if fields.browsedData.italics %}font-style: italic; {% endif %}'>
                    {{ socialProofIcon }}
                    {% if fields.browsedData.displayNumber %} {{ proof.browsed }} {% endif %} {{ fields.browsedData.text }}
                </div>
            {% elif fields.fallbackData.active %}
                <div style='font-size: {{ fields.socialProofMessaging.fontSize.size }}{{ fields.socialProofMessaging.fontSize.unit }};
                    font-family:{{ fields.socialProofMessaging.font }};
                    padding: {{ fields.socialProofMessaging.padding.size }}{{ fields.socialProofMessaging.padding.unit }};
                    height: auto;
                    text-align: center;
                    background-color: {{ fields.fallbackData.colors.background }};
                    color: {{ fields.fallbackData.colors.foreground }};
                    {% if fields.fallbackData.bold %} font-weight:bold; {% endif %} {% if fields.fallbackData.italics %}font-style: italic; {% endif %}'>
                    {{ socialProofIcon }}
                    {{ fields.fallbackData.text }}
                </div>
            {% else %}
                <div style='font-size: {{ fields.socialProofMessaging.fontSize.size }}{{ fields.socialProofMessaging.fontSize.unit }};
                    font-family:{{ fields.socialProofMessaging.font }};
                    padding: {{ fields.socialProofMessaging.padding.size }}{{ fields.socialProofMessaging.padding.unit }};'>
                    &nbsp;
                </div>
            {% endif %}
{% if format in ["dynamichtml", "dynamicimage", "thumb"] %}
        <td>
    </tr>
{% endif %}
{% endif %}

{% endmacro %}
{# ----- Social Proof Messaging Macro end ---- #}

<div id="{{ safeid }}__overlay" class="{{ safeid }} {{ safeid }}__overlay {{ safeid }}__animated">

	<div class="{{ safeid }}__popover-wrapper">

		<div class="{{ safeid }}__popover-content fr-popover-modal-dialog">

			<span class="{{ safeid }}__button-close"></span>

			{# header start #}
			{% if fields.headerContainer.active %}

				<div class="{{ safeid }}__popover-header">

					{# headline start #}
					{% if fields.headline.active %}

						<div class="{{ safeid }}__headline">
							<h2>{{ mergeField( fields.headline.text) }}</h2>
						</div>

					{% endif %}
					{# headline end #}

					{# message start #}
					{% if fields.message.active %}

						<div class="{{ safeid }}__message">
							<p>{{ fields.message.text }}</p>
						</div>

					{% endif %}
					{# message end #}

					{# header cta start #}
					{% if fields.cta.active %}

						<div class="{{ safeid }}__header-cta-button">
							<a href="{{ mergeField( fields.buttonHref, {})|set_ga_tracking(
								utm_campaign=mergeField( fields.utmCampaign, {}),
								utm_medium=mergeField( fields.utmMedium, {}),
								utm_source=mergeField( fields.utmSource, {})) }}">
								{{ fields.cta.text }}
							</a>
						</div>

					{% endif %}
					{# header cta end #}

				</div>

			{% endif %}
			{# header end #}

			{# products start #}
			<div class="{{ safeid }}__product-rec-container">

				<div class="{{ safeid }}__swiper">

					<div class="swiper-wrapper">

						{% for product in products %}

							{# product card start #}
							<div class="swiper-slide imagecontainer">

								{# product image start #}
								{% if fields.image.active %}

									<div class="{{ safeid }}__product-image">

										<a href="{{ mergeField( fields.redirectURL, { product: product })|set_ga_tracking(
											utm_campaign=mergeField( fields.utmCampaign, {}),
											utm_medium=mergeField( fields.utmMedium, {}),
											utm_source=mergeField( fields.utmSource, {})) }}">
											<img src="{{ product.img }}" loading="lazy" alt="{{ product.n }}">
										</a>

										<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
									</div>

								{% endif %}
								{# product image end #}

								{# product name start #}
								{% if fields.name.active %}

									<div class="{{ safeid }}__product-name">
										<a href="{{ mergeField( fields.redirectURL, { product: product })|set_ga_tracking(
											utm_campaign=mergeField( fields.utmCampaign, {}),
											utm_medium=mergeField( fields.utmMedium, {}),
											utm_source=mergeField( fields.utmSource, {})) }}">
											{{ (product.n or "")|truncate( fields.name.maxChars) }}
										</a>
									</div>

								{% endif %}
								{# product name end #}

								<div class="{{ safeid }}__product-footer">

									{# social proof start #}
									{% if fields.socialProofMessaging.active  %}

										<div class="{{ safeid }}__social-proof">
											{{ socialProof(product) }}
										</div>

									{% endif %}
									{# social proof end #}

									{# product ratings start #}
									{% if fields.ratingIcons.active %}

										<div class="{{ safeid }}__product-rating">
											{{ product|addProductRatings }}
										</div>

									{% endif %}
									{# product ratings end #}

									{# product price start #}
									{% if fields.price.active %}

										<div class="{{ safeid }}__product-price">
											<div>{{ product.uv|format_currency(product.curr,2) }} {{fields.price.suffix}}</div>
										</div>

									{% endif %}
									{# product price end #}

								</div>

							</div>
							{# product card end #}

						{% endfor %}

					</div>

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
					<div class="swiper-pagination swiper-pagination-horizontal"></div>

			</div>
			{# products end #}

		</div>

	</div>

</div>

<link rel="stylesheet" href="https://im.dycdn.net/npm/swiper@11/swiper-bundle.min.css">
<style type="text/css">

	{% set wrapperClass = safeid + '__popover-wrapper' %}

	/* layout styles */

	.{{ safeid }}__overlay,
	.{{ safeid }}__overlay * {
		box-sizing: border-box;
		outline: 0;
	}

	/* popover styles */

	.{{ safeid }}__overlay {
		{% if meta.preview != 'true' %}display: none;{% endif %} /* hide by default, unless in preview */
		position: fixed;
		overflow: auto; /* Allows the popover to be taller than the viewport */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;
		background-color: rgba(0,0,0,0.6);
		font-family: {{ fields.message.font }};
	}

	.{{ wrapperClass }} {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	.{{ safeid }}__popover-content {
		position: relative;
		display: flex;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		justify-content: flex-end;
		z-index: 9999;
		box-sizing: border-box;
		margin: auto;
		border-radius: {{fields.borderRadius}};
		box-shadow: 0px 0px 10px -2px #222222;
		background-color: {{ fields.backgroundColour }};
		width: 90vw;
		max-width: {{ fields.width }}px;
		padding: {{ fields.padding.size }}{{fields.padding.unit }};
		{% if fields.border %}
			border: {{ fields.borderWeight }}px {{ fields.borderStyle }} {{ fields.borderColor }};
		{% endif %}
	}

	/* header styles */

	.{{ safeid }}__popover-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: {{ fields.headerContainer.padding.size }}{{ fields.headerContainer.padding.unit }};
		background-color: {{ fields.headerContainer.backgroundColor }};
		border-radius: {{ fields.headerContainer.borderRadius }};
	}

	.{{ safeid }}__headline {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: {{fields.headline.alignment}};
		padding: {{ fields.headline.padding.size}}{{fields.headline.padding.unit}};
		border-radius: {{ fields.headline.borderRadius }};
		color: {{ fields.headline.colors.foreground }};
		background-color: {{ fields.headline.colors.background }};
		font-family: {{ fields.headline.font }};
		font-size: {{ fields.headline.fontSize.size }}{{ fields.headline.fontSize.unit }};
		margin-bottom: 0.5em;
	}

	.{{ safeid }}__headline h2 {
		margin: 0;
		font-weight: {% if fields.headline.bold %}bold{% else %}normal{% endif %};
		text-align: {{ fields.headline.alignment }};
		font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
		letter-spacing: -0.3px;
		{% if fields.headline.italic %}
			font-style: italic;
		{% endif %}
	}

	.{{ safeid }}__message {
		width: 100%;
		text-align: {{ fields.message.alignment }};
		margin-bottom: 0.5em;
		border-radius: {{ fields.message.borderRadius }};
		color: {{ fields.message.colors.foreground }};
		background-color: {{ fields.message.colors.background }};
		font-family: {{ fields.message.font }};
		font-size: {{ fields.message.fontSize.size }}{{ fields.message.fontSize.unit }};
		padding: {{ fields.message.padding.size }}{{ fields.message.padding.unit }};
		font-weight: {% if fields.message.bold %}bold{% else %}normal{% endif %};
		{% if fields.message.italic %}
			font-style: italic;
		{% endif %}
	}

	.{{ safeid }}__message p {
		margin: 0;
	}

	.{{ safeid }}__header-cta-button {
		width: 100%;
	}

	.{{ safeid }}__header-cta-button a {
		width: fit-content;
		display: block;
		margin: 0 auto;
		text-decoration: none;
		font-size: {{ fields.cta.fontSize.size }}{{ fields.cta.fontSize.unit }};
		color: {{ fields.cta.colors.foreground }};
		font-family: {{ fields.cta.font }};
		background-color: {{ fields.cta.colors.background or gdBlue }};
		padding: {{ fields.cta.padding.size }}{{ fields.cta.padding.unit }};
		border-radius: {{ fields.cta.borderRadius }};
		font-weight: {% if fields.cta.bold %}bold{% else %}600{% endif %};
		text-align: {{ fields.cta.alignment }};
		transition: 0.2s ease-in-out background-color, box-shadow 0.2s ease;
		box-shadow: 0 2px 6px rgba(0, 45, 114, 0.15);
		{% if fields.cta.italic %}
			font-style: italic;
		{% endif %}
		{% if fields.cta.underline %}
			text-decoration: underline;
		{% endif %}
	}

    {% if fields.ctaHover.active %}
	.{{ safeid }}__header-cta-button a:hover {
		background-color: {{ fields.ctaHover.hoverColor or gdBlueDark }};
		box-shadow: 0 3px 10px rgba(0, 45, 114, 0.25);
	}
    {% endif %}

	/* Swiper styles */

	.{{ safeid }}__swiper {
		width: 100%;
		height: 100%;
		padding: 0 40px;
		box-sizing: border-box;
		--swiper-navigation-size: 12px;
		--swiper-navigation-color: {{ fields.navigationColor or gdBlue }};
	}

	.{{ safeid }} .swiper-wrapper {
		height: auto;
		align-items: stretch;
	}

	.{{ safeid }} .swiper-slide,
	.{{ safeid }} .swiper-slide.imagecontainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		align-self: stretch;
		height: auto;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
		{% if fields.style.active %}
			background-color: {{ fields.style.backgroundColor }};
			{% if fields.style.border %}
				border: {{ fields.style.borderWeight }}px {{ fields.style.borderStyle }} {{ fields.style.borderColor }};
			{% endif %}
			border-radius: {{ fields.style.borderRadius }};
		{% endif %}
	}

	/* Compact circular nav arrows */
	.{{ safeid }} .swiper-button-prev,
	.{{ safeid }} .swiper-button-next {
		width: 30px;
		height: 30px;
		margin-top: 0;
		top: 38%;
		transform: translateY(-50%);
		color: {{ fields.navigationColor or gdBlue }};
		background: #fff;
		border: 1px solid {{ gdBorder }};
		border-radius: 50%;
		box-shadow: 0 1px 4px rgba(0, 45, 114, 0.1);
		transition: background 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
	}

	.{{ safeid }} .swiper-button-prev::after,
	.{{ safeid }} .swiper-button-next::after {
		font-size: 11px;
		font-weight: 700;
	}

	.{{ safeid }} .swiper-button-prev:hover,
	.{{ safeid }} .swiper-button-next:hover {
		background: {{ gdBlue }};
		border-color: {{ gdBlue }};
		color: #fff;
		box-shadow: 0 2px 8px rgba(0, 45, 114, 0.2);
	}

	.{{ safeid }} .swiper-button-next {
		right: 4px;
	}

	.{{ safeid }} .swiper-button-prev {
		left: 4px;
	}

    {% if fields.carouselPagination.active %}
        .{{safeid}} .swiper-pagination-bullet {
            background: {{ fields.carouselPagination.color }};
            opacity: 1;
        }

        .{{safeid}} .swiper-pagination-bullet-active {
            background: {{ fields.carouselPagination.activeColor }};
        }
    {% endif %}

	.{{ safeid }} .swiper-pagination {
		width: 100%;
		position: relative !important;
		padding-top: 10px;
		bottom: unset !important;
	}

	{% set mobileBreakpoint = 520 %}
	{% if fields.mobileSettings and fields.mobileSettings.breakpoint %}
		{% set mobileBreakpoint = fields.mobileSettings.breakpoint %}
	{% endif %}

	/* product styles */

	.{{ safeid }}__product-rec-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		margin-top: 12px;
	}

	.{{ safeid }}__product-image {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
		background: {{ gdImageBg }};
		flex-shrink: 0;
	}

	@supports (aspect-ratio: 1 / 1) {
		.{{ safeid }}__product-image {
			height: auto;
			padding-bottom: 0;
			aspect-ratio: 1 / 1;
		}
	}

	.{{ safeid }}__product-image a {
		position: absolute;
		inset: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	.{{ safeid }}__product-image img,
	.{{ safeid }}__sb-wrapper .{{ safeid }}__product-image img,
	.{{ safeid }} .swiper-slide .{{ safeid }}__product-image img {
		position: absolute !important;
		inset: 0 !important;
		width: 100% !important;
		height: 100% !important;
		max-width: none !important;
		max-height: none !important;
		object-fit: cover !important;
		object-position: center !important;
		margin: 0 !important;
	}

	{# Fixed 2-line title block — padding on wrapper, not link (avoids clipping line 2) #}
	{% set nameLineHeight = 1.4 %}
	{% set nameFontPx = fields.name.fontSize.size %}
	{% set namePadTop = 8 %}
	{% set namePadBottom = 6 %}
	{% set nameTextH = (nameFontPx * nameLineHeight * 2)|round(0, 'ceil') %}
	{% set nameBlockMinH = nameTextH + namePadTop + namePadBottom %}
	{% if fields.name.mobileFontSize and fields.name.mobileFontSize.active %}
		{% set nameMobileFontPx = fields.name.mobileFontSize.fontSize.size %}
		{% set nameMobileTextH = (nameMobileFontPx * nameLineHeight * 2)|round(0, 'ceil') %}
		{% set nameMobileBlockMinH = nameMobileTextH + namePadTop + namePadBottom %}
	{% endif %}

	.{{ safeid }}__product-name {
		background-color: {{ fields.name.colors.background }};
		flex: 0 0 auto;
		min-height: {{ nameBlockMinH }}px;
		padding: {{ namePadTop }}px 8px {{ namePadBottom }}px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		box-sizing: border-box;
		overflow: hidden;
	}

	.{{ safeid }}__product-name a {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		width: 100%;
		min-height: {{ nameTextH }}px;
		font-size: {{ fields.name.fontSize.size }}{{ fields.name.fontSize.unit }};
		color: {{ fields.name.colors.foreground or gdDark }};
		font-family: {{ fields.name.font }};
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-align: {{ fields.name.alignment }};
		text-decoration: none;
		line-height: {{ nameLineHeight }};
		font-weight: {% if fields.name.bold %}bold{% else %}500{% endif %};
		{% if fields.name.italic %}
			font-style: italic;
		{% endif %}
	}

	.{{ safeid }}__product-name a:hover {
		color: {{ gdBlue }};
	}

	.{{ safeid }}__product-rating {
		padding: 0.5em;
		margin-top: auto;
		min-height: 46px;
        text-align: {{ fields.ratingIcons.alignment }};
	}

    .{{ safeid }}__product-rating * {
        text-shadow: none;
    }

    .{{ safeid }}__product-rating text {
        stroke: {{ fields.ratingIcons.iconBorderColor }};
        stroke-width: 5%;
    }

	.{{ safeid }}__product-footer {
		margin-top: auto;
		flex-shrink: 0;
		width: 100%;
	}

	.{{ safeid }}__product-price {
		background-color: {{ fields.price.colors.background }};
		font-size: {{ fields.price.fontSize.size }}{{ fields.price.fontSize.unit }};
		color: {{ fields.price.colors.foreground or gdBlue }};
		font-family: {{ fields.price.font }};
		border-radius: {{ fields.price.borderRadius }};
		text-align: {{ fields.price.alignment }};
		{% if fields.price.border %}
			border: {{ fields.price.borderWeight }}px {{ fields.price.borderColor }} {{ fields.price.borderStyle }};
		{% endif %}
		font-weight: {% if fields.price.bold %}bold{% else %}600{% endif %};
		{% if fields.price.italic %}
			font-style: italic;
		{% endif %}
		padding: 2px 8px 10px;
	}

	.{{ safeid }}__product-price p {
		margin: 0;
	}

	@media only screen and (max-width: {{ mobileBreakpoint }}px) {
		.{{ safeid }}__swiper {
			padding: 0 34px;
		}

		.{{ safeid }} .swiper-button-prev,
		.{{ safeid }} .swiper-button-next {
			width: 26px;
			height: 26px;
		}

		.{{ safeid }} .swiper-button-prev::after,
		.{{ safeid }} .swiper-button-next::after {
			font-size: 10px;
		}

		{% if fields.name.mobileFontSize and fields.name.mobileFontSize.active %}
		.{{ safeid }}__product-name {
			min-height: {{ nameMobileBlockMinH }}px;
		}

		.{{ safeid }}__product-name a {
			min-height: {{ nameMobileTextH }}px;
			font-size: {{ fields.name.mobileFontSize.fontSize.size }}{{ fields.name.mobileFontSize.fontSize.unit }};
		}
		{% endif %}

		{% if fields.price.mobileFontSize and fields.price.mobileFontSize.active %}
		.{{ safeid }}__product-price,
		.{{ safeid }}__product-price div {
			font-size: {{ fields.price.mobileFontSize.fontSize.size }}{{ fields.price.mobileFontSize.fontSize.unit }};
		}
		{% endif %}
	}

	/* Utility styles */

	{% set hiddenClass = safeid + '__hidden' %}
	{% set closeButtonClass = safeid + '__button-close' %}

	.{{ hiddenClass }} {
		display: none !important;
	}

	.{{ closeButtonClass }} {
		position: absolute;
		right: {{ fields.crossInset }}px;
		top: {{ fields.crossInset }}px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		filter: opacity({{ fields.closeButtonOpacity }}%);
	}

	.{{ closeButtonClass }}:hover {
		filter: opacity(1);
	}

	.{{ closeButtonClass }}:before,
	.{{ closeButtonClass }}:after {
		position: absolute;
		left: 50%;
		top: 0;
		content: ' ';
		height: 100%;
		width: 2px;
		background-color: {{ fields.crossColor }};
	}

	.{{ closeButtonClass }}:before {
		transform: rotate(45deg);
	}

	.{{ closeButtonClass }}:after {
		transform: rotate(-45deg);
	}

	.{{ safeid }}__animated {
		animation-duration: 1s;
	}

	.{{ safeid }}__animate--fadeIn {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}

	.{{ safeid }}__animate--fadeOut {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}

	@-webkit-keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@-webkit-keyframes fadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@keyframes fadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@media print, (prefers-reduced-motion: reduce) {

		.{{ safeid }}__animated {
			-webkit-animation-duration: 1ms !important;
			animation-duration: 1ms !important;
			-webkit-transition-duration: 1ms !important;
			transition-duration: 1ms !important;
			-webkit-animation-iteration-count: 1 !important;
			animation-iteration-count: 1 !important;
		}

		.{{ safeid }}__animated[class*='Out'] {
			opacity: 0;
		}

	}

</style>

<script type="text/javascript">
(function() {
	// Setting variables to use later
	const {{ safeid }}__root = document.querySelector('#{{ safeid }}__overlay');
	const {{ safeid }}__ctaButton = {{ safeid }}__root.querySelector('.{{ safeid }}__header-cta-button > a');
	if ({{ safeid }}__ctaButton) {
		{{ safeid }}__ctaButton.addEventListener('click', {{ safeid }}__actionButtonClicked);
	}
	{{ safeid }}__root.addEventListener('click', {{ safeid }}__modalClick);
	{{ safeid }}__root.addEventListener('touchstart', {{ safeid }}__modalClick);
	document.addEventListener('keyup', {{ safeid }}__modalKeyup);
	let {{ safeid }}__fired = false;
	let {{ safeid }}__modalClosed = false;

	function {{ safeid }}__actionButtonClicked(e) {
		{% if not options.redirectUrl %}
			e.preventDefault();
			{{ safeid }}__dismissModal();
		{% endif %}
		if (typeof $TB == 'object') $TB.popoverEvent('{{ uniqueid }}', 19);
	}

	function {{ safeid }}__modalClick(e) {
		// close modal on close button/background click
		const targetClasses = e.target.classList;
		if(targetClasses.contains('{{ hiddenClass }}')
			|| targetClasses.contains('{{ closeButtonClass }}')
			|| targetClasses.contains('{{ wrapperClass }}')) {
			e.preventDefault();
			{{ safeid }}__dismissModal();
		}
	}

	function {{ safeid }}__modalKeyup(e) {
		// close modal on escape key press
		if(e.keyCode === 27) {
			{{ safeid }}__dismissModal();
		}
	}

	function {{ safeid }}__closeModal() {
		{{ safeid }}__modalClosed = true;
		{{ safeid }}__fired = false;
		{{ safeid }}__root.classList.add('{{ safeid }}__animate--fadeOut');

		function {{ safeid }}__hidePopover() {
			{{ safeid }}__root.classList.add('{{ hiddenClass }}');
			{{ safeid }}__root.classList.remove('{{ safeid }}__animate--fadeOut');
			{{ safeid }}__root.removeEventListener("animationend", {{ safeid }}__hidePopover);
		}

		{{ safeid }}__root.addEventListener("animationend", {{ safeid }}__hidePopover)
	}

	function {{ safeid }}__dismissModal() {
		if(!{{ safeid }}__modalClosed) {
			{{ safeid }}__closeModal();
			try {
				$TB.popoverDismissed('{{ slotid }}');
			} catch(e) {}
		}
	}

	function {{ safeid }}__firePopover() {
		if (!{{ safeid }}__fired) {
			{{ safeid }}__popup.fire();
		}
	}

	function {{safeid }}__popoverTimeout() {
		if ({{ fields.showOnLoad }}) {
			{{ safeid }}__firePopover();
		} else if ({{ fields.popupFixedDelay }} && {{ fields.popupFixedDelay }} > 0) {
			window.setTimeout(function () {
				if (document.cookie.replace(/(?:(?:^|.*;\s*){{fields.cookieName}}\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
					{{ safeid }}__firePopover()
				}
			}, {{ ( fields.popupFixedDelay * 1000) }});
		}
	}

	let {{ safeid }}__popup;
	const {{ safeid }}__ouibounceCallback = () => {

		try {

			if (typeof require == "function"){
				require(['swiper'], function(Swiper) {
					const {{ safeid }}__swiper = new Swiper('.{{ safeid }}__swiper', {{ safeid }}__swiperOptions);
				});
			}
			else if (typeof $TB !== "undefined" && typeof $TB.getScript == "function") {
				if (!window.Swiper) {
					$TB.getScript("https://im.dycdn.net/npm/swiper@11/swiper-bundle.min.js", function() {
						const {{ safeid }}__swiper = new Swiper('.{{ safeid }}__swiper', {{ safeid }}__swiperOptions);
					});
				} else {
					console.log("SwiperJS already loaded, triggering our carousel");
					const {{ safeid }}__swiper = new Swiper('.{{ safeid }}__swiper', {{ safeid }}__swiperOptions);
				}
			}
			else {
				console.log("failed to load required libary - SwiperJS")
			}

		}
		catch(e){}

		if (!{{ safeid }}__fired) {

			{{ safeid }}__fired = true;
			try {
				$TB.popoverShown('{{ slotid }}');
				{{ safeid }}__root.classList.add('{{ safeid }}__animate--fadeIn');
				{{ safeid }}__root.addEventListener("animationend", function(){
					{{ safeid }}__root.classList.remove('{{ safeid }}__animate--fadeIn');
					function {{ safeid }}_removeClasses(){
						{{ safeid }}__root.classList.remove('{{ safeid }}__animate--fadeIn');
						{{ safeid }}__root.removeEventListener("animationend", {{ safeid }}_removeClasses);
					}
				{{ safeid }}__root.addEventListener("animationend", {{ safeid }}_removeClasses)
				})
			}
			catch(e){}

		}

	};

	if (typeof require == "function") {
		let paths = {
			"ouibounce": "https://im.dycdn.net/ajax/libs/ouibounce/0.0.12/ouibounce.min",
			"swiper": "https://im.dycdn.net/npm/swiper@11/swiper-bundle.min"
		};
		if (require.defined('swiper')) {
			delete paths.swiper; // don't load SwiperJS if it's already loaded
		}
		require.config({
			paths: paths
		});
	}

	try {
		if (typeof require == "function"){
			require(['ouibounce'], function(ouibounce) {
				{{ safeid }}__popup = ouibounce(document.getElementById('{{ safeid }}__overlay'), {{ safeid }}__ouibounceOptions);
				{{ safeid }}__popoverTimeout();
			});
		}
		else if (typeof $TB !== "undefined" && typeof $TB.getScript == "function") {
			$TB.getScript("https://im.dycdn.net/ajax/libs/ouibounce/0.0.12/ouibounce.min.js", function () {
				{{ safeid }}__popup = ouibounce(document.getElementById('{{ safeid }}__overlay'), {{ safeid }}__ouibounceOptions);
				{{ safeid }}__popoverTimeout();
			})
		}
		else {
			console.log("failed to load required libary - ouibounce")
		}
	} catch(e) {}

	function {{ safeid }}__equalizeCardHeights() {
		var swiperEl = document.querySelector('.{{ safeid }}__swiper');
		if (!swiperEl) return;
		var slides = swiperEl.querySelectorAll('.swiper-slide:not(.swiper-slide-duplicate)');
		if (!slides.length) return;
		var maxH = 0;
		slides.forEach(function(slide) {
			slide.style.minHeight = '';
		});
		slides.forEach(function(slide) {
			maxH = Math.max(maxH, slide.getBoundingClientRect().height);
		});
		if (maxH > 0) {
			slides.forEach(function(slide) {
				slide.style.minHeight = maxH + 'px';
			});
		}
	}

	const {{ safeid }}__swiperOptions = {
		autoplay: {{ fields.autoplay }},
		speed: 300,
		slidesPerView: {{ fields.columns }},
		spaceBetween: 10,
		watchOverflow: true,
		lazy: {
			loadPrevNext: true,
		},
		autoplay: {{ fields.autoplay }},
		on: {
			init: function() {
				{{ safeid }}__equalizeCardHeights();
			},
			resize: function() {
				{{ safeid }}__equalizeCardHeights();
			},
			breakpoint: function() {
				{{ safeid }}__equalizeCardHeights();
			},
			slideChange: function() {
				{{ safeid }}__equalizeCardHeights();
			},
			imagesReady: function() {
				{{ safeid }}__equalizeCardHeights();
			}
		},
		breakpoints: {
			{% if fields.breakpoint1.active %}
			  // when window width is >= breakpoint 1
				{{fields.breakpoint1.minWidth}}: {
					slidesPerView: {{ fields.breakpoint1.columnCount }},
					spaceBetween: 10
				},
			{% endif %}
			{% if fields.breakpoint2.active %}
			  // when window width is >= breakpoint 2
				{{fields.breakpoint2.minWidth}}: {
					slidesPerView: {{ fields.breakpoint2.columnCount }},
					spaceBetween: 10
				},
			{% endif %}
		},
		breakpointsBase: 'window',
		// Navigation arrows
		loop: {{ fields.loop }},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		{% if fields.carouselPagination.active %}
			pagination: {
				el: '.swiper-pagination',
				clickable: {{ fields.carouselPagination.clickable }},
			},
		{% endif %}
	};

	const {{ safeid }}__ouibounceOptions = {
		cookieExpire: {{ fields.daysBetweenPopups }},
		cookieName: "{{fields.cookieName}}",
		callback: {{ safeid }}__ouibounceCallback,
		sitewide: true,
		aggressive: {{ fields.showOnLoad }},
		timer: {% if fields.popupMinimumDelay %}{{ ( fields.popupMinimumDelay * 1000) }}{% else %}1000{% endif %},
		{% if fields.showOnExitIntent %}
		delay: {% if fields.delayBeforeExitIntent %}{{ fields.delayBeforeExitIntent }}{% else %}250{% endif %},
		{% else %}
		delay: 3600000,
		{% endif %}
	};

	{% if meta.preview == "true" %}
		const {{ safeid }}__swiper = new Swiper('.{{ safeid }}__swiper', {{ safeid }}__swiperOptions);
		window.setTimeout({{ safeid }}__equalizeCardHeights, 100);
		window.setTimeout({{ safeid }}__equalizeCardHeights, 500);
	{% endif %}
})();
</script>
